html::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  html::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  html::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00aeff, #a68eff);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
  }

body{
  /* background-color: rgb(184, 180, 180)!important; */
  /* font-family: 'Montserrat'!important; */
  background-color: aliceBlue!important;
}
body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}


.nav-link.active {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(67, 133, 255) !important;
}