body {
  background-color: #f4f7f6;
}

.ScrollDownButton {
  position: fixed;
  top: 200px;
  right: 850px;
  z-index: 7;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-lg-12 .card {
  background: #fff;
  margin-top: 30px;
  margin-bottom: -25px;
  transition: 0.5s;
  position: relative;
  width: 100%;
  height: 79vh;
  border: 2px solid lightgray;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea;
  height: 100vh;
}

.chat {
  overflow: hidden;
  overflow-y: scroll;
}

.chat-empty {
  display: flex;
  justify-content: center;
}

/* .people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
} */

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer;
}

.people-list .chat-list li.active {
  background: #efefef;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.people-list img {
  float: left;
  border-radius: 50%;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6;
}

.chat-header {
  /* position: fixed; */
  width: 100%;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
  margin-top: 20px;
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chat-history .message {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .my-message {
  background: #efefef;
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right;
}

.float-right {
  float: right;
}

.chat-message {
  margin-left: 281px;
}

.showOnSmall{
  display:none!important;
}
.miniChat{
  transition: 500ms;

}
.miniChat:hover{
background-color: rgba(113, 113, 113, 0.246);;

}

@media screen and (max-width: 600px) {
  .people-list  {
    display:none!important
  }
  .showOnSmall{
    display: inherit!important;
  }

  .chat-app .chat {
    margin-left: 0px;
  }
  
  .chat-message {
    margin-left: 0px;
  }
}
