@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open Sans:400,600,800');
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
    margin: 0px;
}

a,
a:hover,
a:focus {
    color: inherit;
}

body {
    background-color: #F1F2F3;
}

.container-fluid,
.container {
    max-width: 1200px;
}
.profileCard4 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 15px;
}

.profileCard4 img {
    max-width: 300px;
    transition: all 0.25s linear;
}

.profileCard4 .profileContent {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profileCard4 .profileName {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
}

.profileCard4 .profileName p {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 3px black;
    
}

.profileCard4 .profileDescription {
    color: #777;
    font-size: 12px;
    padding: 10px;
    
}
.profileCard4 .profileDescription {
    color: #777;
    font-size: 14px;
    padding: 10px;
}
.profileCard4 .profileOverview h4{
    color: #273751;
    font-weight: bold;
}

.profileCard4 .profileOverview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
    margin-bottom: 5px;
    
}

.profileCard4 .profileOverview h4 {
    color: #273751;
    font-weight: bold;
    
}

.profileCard4 .profileContent::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
    
}

.profileCard4:hover img {
    transform: scale(1.1, 1.1);
    filter: brightness(119%);
    
}

.profileDescription{
    min-height: 4rem;
}

