.searchbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  padding: 5px 25px;
  margin: 10px;
  font-size: 13px;
  filter: none !important;
}
h1, .landingWidget i{
  text-shadow: 2px 2px 4px #000000;
}

.searchbarContainer img {
  max-width: 170px;
}

.searchbarContainer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.hero {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 630px;
  background-image: url("https://images.pexels.com/photos/3183172/pexels-photo-3183172.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  filter: brightness(50%);
  z-index:-1;

}

.landingWidget{
  border-radius: 15px;
  margin: 20px;
  padding: 15px;
  display:flex;
  text-align: center;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  min-width: 17rem;
  min-height: 12rem;
  max-width: 17rem;
  max-height: 12rem;
  background-color: white;
  color:black;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.widgetContainer{
  display:flex;
  margin: 0px;
  margin-top:-50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}