@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


.loginContainer{
    max-width: 700px;
    border-radius: 15px;
    border: 1px solid DarkGray;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 390px;
    overflow:hidden;
}

.card {
    border: none;
    padding: 10px;
}

.circle {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #588dff;
    color: #fff;
    font-size: 10px;
    border-radius: 50%
}

.formInput {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    margin:0;
}

.formInput i {
    position: absolute;
    font-size: 18px;
    top: 17px;
    left: 50px;
}

.formControl {
    height: 50px;
    width: 20.5rem;
    /* width: 80%; */
    text-indent: 30px;
    font-size: 15px
}

.formControl:focus {
    box-shadow: none;
    color: black;
    border-color: #4f63e7
}

.formCheckLabel {
    margin-top: 2px;
    margin-left: 7px;
    font-size: 14px
}

.selectArea{
    margin: 5px;
    height: 30px
}

.signup {
    height: 50px;
    font-size: 14px
}

.social {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: 300ms;
}

.social:hover {
    background-color: #0d6dfd72;
    border-color: #0d6dfd6d
}

