body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.mainBody {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.cardBody {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.guttersSm {
    margin-right: -8px;
    margin-left: -8px;
}

.guttersSm>.col, .guttersSm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb3, .my3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.errors{
    font-size: .8rem;
    color: red;
    margin: .1rem 0px
}

@media screen and (max-width: 770px) {
    .buttonOption {
        max-width: 150px!important;
        margin: 2px;
      }
    .hideOnSmall{
      display:none!important;
    }
    .showOnSmall{
      display: inherit!important;
    }
    .wrapOnSmall{
      flex-wrap: wrap;
    }
    .biggerOnSmall{
        min-width: 130px!important
    }
    .smallerOnSmall{
        max-width: 90px!important
    }
  }