.tableContent > tr>td {
    padding: 10px 5px;
  }

.tableContent > tr > td > div {
  height:90px;
}

.buttonOption {
  min-width: 150px;
  margin: 2px;
}

.flexCenter{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tableDetails{
    text-align: center;
    max-width:80%;
}

@media screen and (max-width: 770px) {
    .buttonOption {
        max-width: 150px!important;
        margin: 2px;
      }
    .hideOnSmall{
      display:none!important;
    }
    .showOnSmall{
      display: inherit!important;
    }
    .wrapOnSmall{
      flex-wrap: wrap;
    }
    .biggerOnSmall{
        min-width: 130px!important
    }
    .smallerOnSmall{
        max-width: 90px!important
    }
  }